footer {
  background-color: #263746;
  color: gray;
  margin-bottom: 0;
  ul {
    list-style-type: none;
    margin: 0;
    margin-top: 35px;
  }
  li {
    display: inline-block;
    border-right: 1px solid gray;
    padding: 10px;
    &:hover {
      background-color: rgba(0,0,0,.25);
    }
    &:nth-child(4) {
      border-right: 0px;
    }
    a {
      text-decoration: none;
      color: gray;
    }
  }
  nav {
    display: inline-block;
    vertical-align: top;
  }
}

.footer-container {
  width: 70%;
  margin: 0 auto;
}

.footer-logo {
  display: inline-block;
  img {
    width: 100px;
  }
}

.footer-copyright {
  display: inline-block;
  vertical-align: top;
  margin-top: 43px;
  margin-left: -10px;
  font-size: .9em;
  width: 45%;
}
