/*===================
Header styles
===================*/
header {
  height: 600px;
  background-image: url("./images/Ocean-waves.jpg");
}

header nav {
  height: 50px;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
}

.nav-logo {
  display: inline-block;
  width: 70%;
}

.nav-logo i {
  display: inline-block;
}

.nav-logo p {
  display: inline-block;
  margin: 0;
  padding-top: 17px;
  padding-left: 10px;
  vertical-align: top;
}

.nav-menu {
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
}

.nav-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-menu ul li:first-child {
  margin-right: 5px;
}

.fa-search {
  transform: rotate(90deg);
}

.header-container {
  width: 70%;
  margin: 0 auto;
}

.header-container h1, .header-container h2 {
  text-align: center;
  margin: 0;
}

.header-container h1 {
  font-size: 5.5em;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 17%;
}

.header-container h2 {
  font-size: 1em;
  font-weight: 500;
}

.overlay {
  position: absolute;
  height: 600px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 255, .5);
  z-index: 9999;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

.content-container {
  width: 66%;
  box-sizing: borer-box;
}

article h1 {
  font-size: 3em;
  color: #162856;
  margin-bottom: 5px;
}

.byline {
  font-size: .8em;
}

.byline-author {
  display: inline-block;
}

.byline-author img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-block;
}

.byline-author p {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding-top: 5px;
  color: darkblue;
  font-weight:600;
}

.byline-date {
  display: inline-block;
  vertical-align: top;
}

.byline-date p {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  color: lightgray;
}

.byline-date span {
  border-bottom: 1px solid lightgray;
}

.byline-date p::before {
  content: 'on ';
  color: lightgray;
}



aside {
  width: 33.5%;
  box-sizing: border-box;
}
